<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" http-equiv="Content-Type" content="width=750">
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.7.0/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/custom.js"></script>
    <script src="db/citiesModel.js"></script>
    <script src="js/components/main.js"></script>
    <script src="js/components/job.js"></script>
    <script src="js/components/new.js"></script>
    <script src="js/components/question.js"></script>
    <script src="js/components/question2.js"></script>
    <script src="js/components/question3.js"></script>
    <script src="js/components/trans.js"></script>
    <script src="js/components/chart.js"></script>
    <title>M1GA</title>
  </head>
  <body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-103576144-1', 'auto');
      ga('send', 'pageview');
    </script>
    <template id="headerSec">
      <header>
        <div class="header">
          <div class="logo">
            <router-link to="/">104</router-link>
          </div>
        </div>
      </header>
    </template>
    <template id="footerSec">
      <footer>
        <div class="footer">
          <ul>
            <li>一零四資訊科技股份有限公司　版權所有©2017</li>
          </ul>
        </div>
      </footer>
    </template>
    <div id="wrapper">
      <header-section></header-section>
      <router-view></router-view>
      <footer-section></footer-section>
    </div>
    <template id="mainPage">
      <div class="container">
        <ul class="i_content i_small">
          <li class="title">歡迎來到<br>104 NEW START</li>
          <li class="des">“104 NEW START ” 提供您找尋工作時當地的生活品質指數，讓您能更有頭緒的選擇適合自己的工作。馬上展開旅程，一起改善自己的未來人生吧！</li>
          <li class="btn">
            <router-link to="/new">菜鳥出巢</router-link>
          </li>
          <li class="btn">
            <router-link to="/trans">老鳥跳巢</router-link>
          </li>
        </ul>
      </div>
    </template>
    <template id="jobPage">
      <div class="container">
        <ul class="content">
          <li class="gotop"><a href="javascript:;"></a></li>
          <li class="map">
            <ul>
              <li class="info">{{status}}<span class="info_job"><span style="font-size:32px;">{{jobNameHash[$route.params.cat]}}</span><br>在新北市共有<span style="color:#ff7900;">{{jobCount}}</span> 個職缺</span></li>
              <li class="chart">
                <div class="chart_title">生活指數表<span><img src="images/dot-orange.png">該區各項指數   <img src="images/dot-blue.png">全台平均</span></div>
                <canvas id="canvas" height="300" width="600"></canvas>
              </li>
            </ul>
          </li>
          <li class="job_title">職缺列表</li>
          <li class="job" v-for="job in jobList">
            <ul>
              <li class="title">{{job.JOB}}</li>
              <li class="des">{{job.NAME}}</li>
              <li class="des"><span>{{job.ADDR_NO_DESCRIPT}}</span><span>&nbsp;|&nbsp;</span>
                <!-- <span>{{Number(job.PERIOD)}}年經驗</span> -->
                <span v-if="Number(job.PERIOD) > 0">{{Number(job.PERIOD)}}年經驗</span>
                <span v-else> 不限經驗 </span>
                
                <span>&nbsp;|&nbsp;</span><span>月薪${{Number(job.SAL_MONTH_LOW)}}</span></li>
              <li class="yaya"><span>不加班</span><span>氣氛和諧</span><span>獎金制度優</span></li>
              <li class="love"><a href="javascript:;"><span class="loveyes"></span></a><a @click="remove(job, $event)"><span class="loveyno"></span></a></li>
              <li class="apply"><a href="javascript:;">我要應徵</a></li>
            </ul>
          </li>
          <li class="pagenum">
            <table border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td class="btnleftpage" width="10%"><a href="#" title="回上一列">回上一列</a></td>
                <td class="btnleft" width="10%"><a href="#" title="回上頁">回上頁</a></td>
                <td width="60%" align="center"><a class="on" title="第1頁">1</a><a href="#" title="第2頁">2</a><a href="#" title="第3頁">3</a><a href="#" title="第4頁">4</a><a href="#" title="第5頁">5</a></td>
                <td class="btnright" width="10%"><a href="#" title="到下頁">到下頁</a></td>
                <td class="btnrightpage" width="10%"><a href="#" title="到下一列">到下一列</a></td>
              </tr>
            </table>
          </li>
        </ul>
      </div>
    </template>
    <template id="newPage">
      <div class="container">
        <ul class="i_content i_small">
          <li class="photo">
            <ul>
              <li class="new_bg"><img src="images/new-bg.png"></li>
              <li class="new_pen"><img src="images/new-pen.png"></li>
              <li class="new_chemical"><img src="images/new-chemical.png"></li>
              <li class="new_math"><img src="images/new-math.png"></li>
              <li class="new_travel"><img src="images/new-travel.png"></li>
            </ul>
          </li>
          <li class="title">菜鳥出巢</li>
          <li class="des">我是初入職場的小菜鳥，我想要有不錯的薪資還有良好的生活品質。不同的城市會有不同面貌，我的第一份工作會在哪裡呢？</li>
          <li class="btn">
            <router-link :to="{name: 'test', params: { role: 0 }}">前往</router-link>
          </li>
        </ul>
      </div>
    </template>
    <template id="testPage">
      <div class="container">
        <ul class="i_content">
          <li class="faq">
            <ul>
              <li class="title"><span class="dot">1</span>選擇您想要的職務類別<span class="summary">1/3</span></li>
              <li class="faq_content">
                <ul>
                  <form>
                    <li class="faq_content_left">
                      <input id="job1" type="radio" name="job" value="a">
                      <label for="job1" @click="cat='a'">經營 / 人資類</label><br>
                      <input id="job2" type="radio" name="job" value="b">
                      <label for="job2" @click="cat='b'">行銷企劃 / 專案管理類</label><br>
                      <input id="job3" type="radio" name="job" value="c">
                      <label for="job3" @click="cat='c'">餐飲旅遊類</label><br>
                      <input id="job4" type="radio" name="job" value="d">
                      <label for="job4" @click="cat='d'">操作維修 / 技術類</label><br>
                      <input id="job5" type="radio" name="job" value="e">
                      <label for="job5" @click="cat='e'">營建 / 製圖類</label><br>
                      <input id="job6" type="radio" name="job" value="f">
                      <label for="job6" @click="cat='f'">文字工作 / 傳媒類</label><br>
                      <input id="job7" type="radio" name="job" value="g">
                      <label for="job7" @click="cat='g'">學術教育 / 輔導類</label><br>
                      <input id="job8" type="radio" name="job" value="h">
                      <label for="job8" @click="cat='h'">生產製造 / 品管類</label><br>
                      <input id="job9" type="radio" name="job" value="i">
                      <label for="job9" @click="cat='i'">財會 / 金融類</label><br>
                    </li>
                    <li class="faq_content_left">
                      <input id="job10" type="radio" name="job" value="j">
                      <label for="job10" @click="cat='j'">客服 / 業務 / 貿易類</label><br>
                      <input id="job11" type="radio" name="job" value="k">
                      <label for="job11" @click="cat='k'">資訊軟體系統類</label><br>
                      <input id="job12" type="radio" name="job" value="l">
                      <label for="job12" @click="cat='l'">資材 / 物流 / 運輸類</label><br>
                      <input id="job13" type="radio" name="job" value="m">
                      <label for="job13" @click="cat='m'">藝術設計類</label><br>
                      <input id="job14" type="radio" name="job" value="n">
                      <label for="job14" @click="cat='n'">醫療 / 保健類</label><br>
                      <input id="job15" type="radio" name="job" value="o">
                      <label for="job15" @click="cat='o'">研發相關類</label><br>
                      <input id="job16" type="radio" name="job" value="p">
                      <label for="job16" @click="cat='p'">軍警消 / 保全類</label><br>
                      <input id="job17" type="radio" name="job" value="q">
                      <label for="job17" @click="cat='q'">其他職類</label><br>
                    </li>
                  </form>
                </ul>
              </li>
            </ul>
          </li>
          <li class="btn i_btn">
            <router-link :to="{name: 'test2', params: { role: $route.params.role, cat: cat }}">下一步</router-link>
          </li>
        </ul>
      </div>
    </template>
    <template id="test2Page">
      <div class="container">
        <ul class="i_content">
          <li class="faq">
            <ul>
              <li class="title"><span class="dot">2</span>選擇您想要的薪資範圍<span class="summary">2/3</span></li>
              <li class="faq_content">
                <ul>
                  <form>
                    <li class="faq_content_left">
                      <input id="salary1" type="radio" name="salary" value="">
                      <label for="salary1" @click="sl='3k'">22,000~39,999</label><br>
                      <input id="salary2" type="radio" name="salary" value="">
                      <label for="salary2" @click="sl='4k'">40,000~49,999</label><br>
                      <input id="salary3" type="radio" name="salary" value="">
                      <label for="salary3" @click="sl='5k'">50,000以上</label><br>
                    </li>
                  </form>
                </ul>
              </li>
            </ul>
          </li>
          <li class="btn i_btn">
            <router-link :to="{name: 'test3', params: { role: $route.params.role, cat: $route.params.cat, sl: sl }}">下一步</router-link>
          </li>
        </ul>
      </div>
    </template>
    <template id="test3Page">
      <div class="container">
        <ul class="i_content">
          <li class="faq">
            <ul>
              <li class="title"><span class="dot">3</span>選擇您最在意的條件<span class="summary">3/3</span></li>
              <li class="faq_content">
                <ul>
                  <form>
                    <li class="faq_content_left">
                      <input id="point1" type="radio" name="point" value="">
                      <label for="point1">收入</label><br>
                      <input id="point2" type="radio" name="point" value="">
                      <label for="point2">環境品質</label><br>
                      <input id="point3" type="radio" name="point" value="">
                      <label for="point3">犯罪率</label><br>
                      <input id="point4" type="radio" name="point" value="">
                      <label for="point4">平均壽命</label><br>
                      <input id="point5" type="radio" name="point" value="">
                      <label for="point5">教育程度</label><br>
                      <input id="point6" type="radio" name="point" value="">
                      <label for="point6">幸福指數</label><br>
                    </li>
                  </form>
                </ul>
              </li>
            </ul>
          </li>
          <li class="btn i_btn">
            <router-link :to="{name: 'job', params: { role: $route.params.role, cat: $route.params.cat, sl: $route.params.sl }}">確定</router-link>
          </li>
        </ul>
      </div>
    </template>
    <template id="transPage">
      <div class="container">
        <ul class="i_content i_small">
          <li class="photo">
            <ul>
              <li class="new_bg"><img src="images/old-bg.png"></li>
              <li class="new_taipei"><img src="images/transfer-taipei.png"></li>
              <li class="new_taichung"><img src="images/transfer-taichung.png"></li>
              <li class="new_tainan"><img src="images/transfer-tainan.png"></li>
              <li class="new_kaohsiung"><img src="images/transfer-kaohsiung.png"></li>
            </ul>
          </li>
          <li class="title">老鳥跳巢</li>
          <li class="des">我在異鄉打滾多年了，父母希望我多陪陪他們，不知道我的家鄉有沒有合適的工作呢？</li>
          <li class="btn">
            <router-link :to="{name: 'test', params: { role: 1 }}">前往</router-link>
          </li>
        </ul>
      </div>
    </template>
    <template id="chartPage">
      <div class="container">
        <h1>chart123</h1>
        <div class="block"><a class="button" v-for="cityName in citiesList" @click="selectedCity=cityName">{{cityName}}</a></div>
        <canvas id="canvChart" width="400" height="400"></canvas>
      </div>
    </template>
    <script src="js/router.js"></script>
    <script src="js/index.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>