template#jobPage
  .container
    ul.content
      li.map
        ul
          li.info
            | 轉生營
            span.info_job
              span(style='font-size:32px;') 後端工程師
              br
              | 在新北市共有
              span(style='color:#ff7900') {{jobCount}}
              |  個職缺
          li.chart 生活指數表
      li.job(v-for='job in jobList')
        ul
          li.title {{job.JOB}}
          li.des {{job.NAME}}
          li.des
            span {{job.ADDR_NO_DESCRIPT}}
            span &nbsp;|&nbsp;
            span {{job.PERIOD}}年經驗
            span &nbsp;|&nbsp;
            span 薪水{{job.SAL_MONTH_LOW}}
          //- li.des 新竹市  |  2年經驗  |  薪水55,000+
          li.yaya
            span 不加班
            span 氣氛和諧
            span 獎金制度優
          li
          li.apply
            a(href='javascript:;') 我要應徵
      li.pagenum
        table(border='0', align='center', cellpadding='0', cellspacing='0')
          tr
            td.btnleftpage(width='10%')
              a(href='#', title='回上一列') 回上一列
            td.btnleft(width='10%')
              a(href='#', title='回上頁') 回上頁
            td(width='60%', align='center')
              a.on(title='第1頁') 1
              a(href='#', title='第2頁') 2
              a(href='#', title='第3頁') 3
              a(href='#', title='第4頁') 4
              a(href='#', title='第5頁') 5
            td.btnright(width='10%')
              a(href='#', title='到下頁') 到下頁
            td.btnrightpage(width='10%')
              a(href='#', title='到下一列') 到下一列
