#wrapper
  header-section
  router-view
  footer-section

template#mainPage
  .container
    ul.i_content
      li.title 歡迎來到104 人生 Online
      li.des “104 人生 Online” 提供您找尋工作時當地的生活品質指數，讓您能更有頭緒的選擇適合自己的工作。馬上展開旅程，一起改善自己的未來人生吧！
      li.btn
        router-link(to='/new') 新手村
        //- a(href='new.php') 新手村
      li.btn
        router-link(to='/trans') 轉生營
        //- a(href='trans.php') 轉生營
