template#newPage
  .container
    ul.i_content
      li.title 新手村
      li.photo
      li.des 即將進入職場不知所措嗎？希望藉由我們專業的建議，讓您覺得條條大路通羅馬，並擁有初生之犢不畏虎的氣魄過關斬將，得到第一份重要的工作。
      li.btn
        router-link(to='/test') 前往試煉
        //- a(href='test.php') 前往試煉
