template#newPage
  .container
    ul.i_content.i_small
      li.photo
        ul
          li.new_bg
            img(src='images/new-bg.png')
          li.new_pen
            img(src='images/new-pen.png')
          li.new_chemical
            img(src='images/new-chemical.png')
          li.new_math
            img(src='images/new-math.png')
          li.new_travel
            img(src='images/new-travel.png')
      li.title 菜鳥出巢
      li.des 我是初入職場的小菜鳥，我想要有不錯的薪資還有良好的生活品質。不同的城市會有不同面貌，我的第一份工作會在哪裡呢？
      li.btn
        router-link(:to="{name: 'test', params: { role: 0 }}") 前往
