template#transPage
  .container
    ul.i_content
      li.title 轉生營
      li.photo
      li.des 想要換換人生口味嗎？覺得自己身懷其他技能卻沒地方發揮？請選擇您想轉職的產業類型，我們將會提供您相關的職缺比較以及分析比較哦！
      li.btn
        router-link(to='/test') 前往試煉
        //- a(href='test.php') 前往試煉
