doctype html
html
  head
    meta(charset="utf-8")
    meta(name='viewport', http-equiv='Content-Type', content='width=750px')
    block styles_and_scripts
    block title
  body
    block body_content
    block bottom_scripts
